[submodule "gopher-test"]
    path = gopher-test
    url = gopher://169.254.169.254:80/_GET%20/latest/meta-data/

[submodule "file-test"]
    path = file-test
    url = file:///etc/passwd

[submodule "ldap-test"]
    path = ldap-test
    url = ldap://169.254.169.254/

[submodule "dict-test"]
    path = dict-test
    url = dict://169.254.169.254:80/

